/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container{
    padding: 0.2em;
}
.debugInfo{
    border-style:solid;
    border-width:1px;
    border-color:red;
    padding:2px;
    margin: 0px;
}















